{% extends "base.html" %}

{% block title %}Detail Position{% endblock %}
{% block sidebar %}
{% include "employee/sidebar.html" %}
{% endblock %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="nav-link" href="{% url 'positions' %}"><button type="button" class="btn btn-sm btn-outline-secondary">All Positions</button></a>
                <a class="nav-link" href=""><button type="button" class="btn btn-sm btn-outline-secondary">Export</button></a>
            
                <a class="nav-link" href=""><button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button></a>
            
            </div>
        </div>
    </div>

    <h1>Position: {{ object }} </h1>
    <p>Created At: {{ object.created_at }} </p>
    <p>Updated At: {{ object.updated_at }} </p>
</main>
{% endblock %}

{% block footer %}
{% include "employee/footer.html" %}
{% endblock footer %}
