{% extends "base.html" %}

{% block title %}Detail Department{% endblock %}
{% block sidebar %}
{% include "employee/sidebar.html" %}
{% endblock %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="nav-link" href="{% url 'employees' %}"><button type="button" class="btn btn-sm btn-outline-secondary">All Employees</button></a>
                <a class="nav-link" href=""><button type="button" class="btn btn-sm btn-outline-secondary">Export</button></a>
            
                <a class="nav-link" href=""><button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button></a>
            
            </div>
        </div>
    </div>

    <h1>Employee: {% if employee.gender == 'Male' %} Mr. {% else %} Miz. {% endif %} {{ employee }} </h1>

    <p>Birth date: {{employee.birth_date}}</p>

    <dl>
      <dt>Properties
        <dd>Email: {{employee.email}}</dd>
        <dd>Monthly salary: {{employee.monthly_salary}}</dd>
        <dd>Department: {{employee.department}}</dd>
        <dd>Position: {{employee.position}}</dd>
        <dd>Bio: {{employee.bio}}</dd>
    </dl>

</main>
{% endblock %}

{% block footer %}
{% include "employee/footer.html" %}
{% endblock footer %}
