{% extends "base.html" %}

{% block title %}Create Department{% endblock %}
{% block sidebar %}
{% include "employee/sidebar.html" %}
{% endblock %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="nav-link" href="{% url 'employees' %}"><button type="button" class="btn btn-sm btn-outline-secondary">All Employees</button></a>
                <a class="nav-link" href=""><button type="button" class="btn btn-sm btn-outline-secondary">Export</button></a>
            
                <a class="nav-link" href=""><button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button></a>
            
            </div>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <label class="mr-2" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}: </label> 
                {{ form.first_name }}
                <span class="help-inline">
                    {% for error in form.first_name.errors %}{{ error }}{% endfor %}
                </span>
            </div>
            <div class="col">
                <!-- Middle name -->
                <label class="mr-2" for="{{ form.middle_name.id_for_label }}">{{ form.middle_name.label }}: </label> 
                {{ form.middle_name }}
                <span class="help-inline">
                    {% for error in form.middle_name.errors %}{{ error }}{% endfor %}
                </span>
            </div>
            <div class="col">
                <!-- Last name -->
                <label class="mr-2" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}: </label> 
                {{ form.last_name }}
                <span class="help-inline">
                    {% for error in form.last_name.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <!-- email -->
                <label class="mr-2" for="{{ form.email.id_for_label }}">{{ form.email.label }}: </label> 
                {{ form.email }}
                <span class="help-inline">
                    {% for error in form.email.errors %}{{ error }}{% endfor %}
                </span>
            </div>
            <div class="col">
                <!-- birth_date -->
                <label class="mr-2" for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}: </label> 
                {{ form.birth_date }}
                <span class="help-inline">
                    {% for error in form.birth_date.errors %}{{ error }}{% endfor %}
                </span>
            </div>
            <div class="col">
                <!-- monthly_salary -->
                <label class="mr-2" for="{{ form.monthly_salary.id_for_label }}">{{ form.monthly_salary.label }}: </label> 
                {{ form.monthly_salary }}
                <span class="help-inline">
                    {% for error in form.monthly_salary.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <!-- department -->
                <label class="mr-2" for="{{ form.department.id_for_label }}">{{ form.department.label }}: </label> 
                {{ form.department }}
                <span class="help-inline">
                    {% for error in form.department.errors %}{{ error }}{% endfor %}
                </span>
            </div>
            <div class="col">
                <!-- position -->
                <label class="mr-2" for="{{ form.position.id_for_label }}">{{ form.position.label }}: </label> 
                {{ form.position }}
                <span class="help-inline">
                    {% for error in form.position.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <!-- gender -->
                <label class="mr-2" for="{{ form.gender.id_for_label }}">{{ form.gender.label }}: </label> 
                {{ form.gender }}
                <span class="help-inline">
                    {% for error in form.gender.errors %}{{ error }}{% endfor %}
                </span>
            </div>
            <div class="col">
                <!-- active -->
                <label class="mr-2" for="{{ form.active.id_for_label }}">{{ form.active.label }}: </label> 
                {{ form.active }}
                <span class="help-inline">
                    {% for error in form.active.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <!-- bio -->
                <label class="mr-2" for="{{ form.bio.id_for_label }}">{{ form.bio.label }}: </label> 
                {{ form.bio }}
                <span class="help-inline">
                    {% for error in form.bio.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

    
</main>
{% endblock %}

{% block footer %}
{% include "employee/footer.html" %}
{% endblock footer %}